<section id="inicio" class="container mx-auto px-4 py-12 md:py-2 ">
  <div class="filtro">
  <div class="flex flex-col md:flex-row items-center gap-8 md:gap-12">
    <div class="w-full md:w-1/2">
      <img
        src="assets/imagem/bruno.png"
        alt="Psicólogo Bruno Carlos"
        class="w-full max-w-md mx-auto  contrast-125 shadow-lg"
      />
    </div>
    <div class="w-full md:w-1/2 text-center md:text-left">
      <h1 class="font-serif-title text-center text-3xl md:text-6xl text-brown-dark mb-4 leading-tight">
        <span class="text-gold">Psicoterapia <span class="text-xl md:text-4xl">para</span></span> <br> <span class="text-brown-dark text-4xl md:text-7xl">Casais <span class="text-gold">&</span> Adultos</span>
      </h1>
      <p class="font-serif-subtitle text-2xl md:text-3xl text-center text-gray-700 mb-8">
        Psicólogo Bruno Carlos de Oliveira da Silva <br> CRP 08/28594
      </p>
      <div class="text-center">
        <a href="https://wa.me/5544991269022?text=Ola!%20Gostaria%20de%20marcar%20um%20atendimento." class="btn-gold inline-block text-white md:text-3xl" target="_blank">Agende sua Consulta</a>
      </div>
    </div>
  </div>
  </div>
</section>
